.copyright {
      padding: 24px 0;
      background: #18121e;

      .copyright-container {
            @include flex($justify: space-between);

            p{
                  color: $text-light;
                  transition: .5s;

                  &:nth-child(2){
                        cursor: pointer;
                        text-decoration: underline;

                        &:hover{
                              color: $secondary;
                        }
                  }
            }
      }
}
@media (max-width: 768px) {
      .copyright {
      padding: 20px 0 !important;
      background: #18121e;

      .copyright-container {
            @include flex(column);
            gap: 8px;

            p{
                  color: $text-light;
                  transition: .5s;

                  &:nth-child(2){
                        cursor: pointer;
                        text-decoration: underline;

                        &:hover{
                              color: $secondary;
                        }
                  }
            }
      }
}
}