.header-container {
      height: 72px;
      margin-top: 16px;
      @include flex($justify: space-between);
      z-index: 10;

      .header__logo {
            width: 137px;
      }
      .header__nav {
            @include flex($justify: end);
            flex-wrap: wrap;

            .nav__list {
                  @include flex(row, space-between);
                  gap: 24px;
                  margin-right: 50px;

                  .item__link {
                        cursor: pointer;
                        color: $text-light;
                        font-size: 18px;
                        font-weight: 600;
                        transition: 0.5s;

                        &:hover {
                              color: $secondary;
                        }
                  }
            }
      }
}
@media (max-width: 768px) {
      .header-container .header__nav {
            @include flex($justify: start);
            position: fixed;
            padding-left: 16px;
            padding-top: 50px;
            align-items: start;
            width: 100%;
            height: 100%;
            right: -100%;
            top: 0%;
            background: $main;
            z-index: 10000;
            transition: 0.5s;

            .nav__list {
                  @include flex(column, start, start);

                  .item__link{
                        position: relative;
                        padding-left: 18px;
                        font-size: 14px;

                        &:before{
                              content: ">";
                              position: absolute;
                              left: 0;
                              top: 0;
                        }
                        &::after {
                              content: '';
                              position: absolute;
                              width: 0;
                              height: 1px;
                              bottom: 0;
                              left: 0;
                              background: $secondary;
                              transition: .5s;
                        }
                        &:hover::after{
                              width: 100%;
                        }
                  }
            }
            &.active {
                  right: 0;
            }
            #close-burger {
                  position: absolute;
                  top: 21px;
                  right: 21px;
                  width: 14px;
                  height: 14px;
            }
      }
}
