.header-container {
      height: 72px;
      margin-top: 16px;
      @include flex($justify: space-between);
      z-index: 10;

      .header__logo {
            width: 137px;
      }
      .header__nav {
            @include flex($justify: space-between);
            gap: 50px;

            .nav__list {
                  @include flex(row, space-between);
                  gap: 24px;

                  .item__link {
                        cursor: pointer;
                        color: $text-light;
                        font-size: 18px;
                        font-weight: 600;
                        transition: 0.5s;

                        &:hover {
                              color: $secondary;
                        }
                  }
            }
      }
}
