@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
@font-face {
  font-family: "Next-Art";
  font-weight: 700;
  src: url("../../font/nextart/NEXT ART_Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #18121E;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

body {
  position: relative;
  font-size: 13px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 12px 24px;
  width: -moz-fit-content;
  width: fit-content;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 600;
  background: #1a3e3e;
  border-radius: 4px;
  border: 1px solid #1a3e3e;
  transition: 0.5s;
}
.btn.btn-big {
  padding: 16px 36px;
}
.btn:hover {
  background: #FDFDFD;
  color: #1a3e3e;
}

h1 {
  font-family: "NEXT ART", sans-serif;
  color: #FDFDFD;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 75px */
  letter-spacing: 1px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.subtitle {
  color: #f2be22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
p.big {
  font-size: 18px;
  line-height: 150%;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1212px;
}

.header-container {
  height: 72px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header-container .header__logo {
  width: 137px;
}
.header-container .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-container .header__nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header-container .header__nav .nav__list .item__link {
  cursor: pointer;
  color: #FDFDFD;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}
.header-container .header__nav .nav__list .item__link:hover {
  color: #f2be22;
}

.hero {
  position: relative;
  height: 985px;
}
.hero .hero-bg {
  position: absolute;
  top: -88px;
  left: 0;
  min-width: 100%;
  min-height: calc(100% + 88px);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 40px;
  padding-bottom: 80px;
}
.hero-container h1 {
  max-width: 92%;
}
.hero-container .hero__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 40px 42px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}
.hero-container .hero__form .form__input-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.hero-container .hero__form .form__input-block select,
.hero-container .hero__form .form__input-block .dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 48px;
  padding: 14px 16px;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #e1e3e4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.hero-container .hero__form .form__input-block .dates input {
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
}
.hero-container .hero__form .form__input-block label {
  color: #FDFDFD;
  font-size: 14px;
  margin: 0 10px;
  margin-top: 8px;
}
.hero-container .hero__form .btn {
  color: #1a3e3e;
  background: #FDFDFD;
  border: 1px solid #FDFDFD;
}
.hero-container .hero__form .btn:hover {
  color: #FDFDFD;
  background: #1a3e3e;
  border: 1px solid #1a3e3e;
}/*# sourceMappingURL=main.css.map */