@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
@font-face {
  font-family: "Next-Art";
  font-weight: 700;
  src: url("../../font/nextart/NEXT ART_Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #18121E;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

body {
  position: relative;
  font-size: 13px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 12px 24px;
  width: -moz-fit-content;
  width: fit-content;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 600;
  background: #1a3e3e;
  border-radius: 4px;
  border: 1px solid #1a3e3e;
  transition: 0.5s;
}
.btn.btn-big {
  padding: 16px 36px;
}
.btn:hover {
  background: #FDFDFD;
  color: #1a3e3e;
}

h1 {
  font-family: "Next-Art", sans-serif;
  color: #FDFDFD;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 75px */
  letter-spacing: 1px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.subtitle {
  color: #f2be22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
p.big {
  font-size: 18px;
  line-height: 150%;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1212px;
}

.header-container {
  height: 72px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header-container .header__logo {
  width: 137px;
}
.header-container .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-container .header__nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header-container .header__nav .nav__list .item__link {
  cursor: pointer;
  color: #FDFDFD;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}
.header-container .header__nav .nav__list .item__link:hover {
  color: #f2be22;
}

.hero {
  position: relative;
  height: 900px;
}
.hero .hero-bg {
  position: absolute;
  top: -88px;
  left: 0;
  min-width: 100%;
  min-height: calc(100% + 88px);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 40px;
  padding-bottom: 80px;
}
.hero-container h1 {
  max-width: 92%;
}
.hero-container .hero__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 40px 42px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}
.hero-container .hero__form .form__input-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.hero-container .hero__form .form__input-block select,
.hero-container .hero__form .form__input-block .dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 48px;
  padding: 14px 16px;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #e1e3e4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.hero-container .hero__form .form__input-block .dates input {
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
}
.hero-container .hero__form .form__input-block label {
  color: #FDFDFD;
  font-size: 14px;
  margin: 0 10px;
  margin-top: 8px;
}
.hero-container .hero__form .btn {
  color: #1a3e3e;
  background: #FDFDFD;
  border: 1px solid #FDFDFD;
}
.hero-container .hero__form .btn:hover {
  color: #FDFDFD;
  background: #1a3e3e;
  border: 1px solid #1a3e3e;
}

.about {
  padding: 100px 0;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-container .about__video {
  position: relative;
  width: 42%;
  max-width: 480px;
  min-height: 526px;
}
.about-container .about__video img {
  width: 350px;
  height: 400px;
}
.about-container .about__video img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.about-container .about__video img:nth-child(2) {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.about-container .about__video img:nth-child(2):hover ~ button path {
  fill: #f2be22;
}
.about-container .about__video button {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  margin: 175px 150px;
  border-radius: 100%;
  background: rgba(253, 253, 253, 0.6);
}
.about-container .about__video button path {
  transition: 0.5s;
}
.about-container .about__video button:hover path {
  fill: #f2be22;
}
.about-container .about__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.about-container .about__content .subtitle {
  margin-bottom: -12px;
}

.services {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #f3f5f4;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-container .services__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.services-container .services__content .subtitle {
  margin-bottom: -12px;
}
.services-container .services__content .content__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.services-container .services__content .content__list .list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.services-container .services__content .content__list .list__item img {
  width: 50px;
  height: 50px;
}
.services-container .services__content .content__list .list__item .item__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4px;
}
.services-container .services__imgs {
  min-width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.services-container .services__imgs img {
  width: 250px;
  height: 250px;
}

.popular-directions {
  padding-top: 80px;
  padding-bottom: 100px;
}

.popular-directions-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
.popular-directions-container .subtitle {
  margin-bottom: -42px;
}
.popular-directions-container .popular-direction__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
}
.popular-directions-container .popular-direction__cards .popular-direction__card {
  position: relative;
  min-width: 380px;
  height: 500px;
  overflow: hidden;
  border-radius: 32px;
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__star {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 54px;
  right: 0;
  padding: 4px 8px;
  background: rgba(253, 253, 253, 0.4);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 4px 0px 0px 4px;
  transition: 1s;
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 20px 32px 20px;
  position: absolute;
  top: 410px;
  left: 0;
  background: rgba(253, 253, 253, 0.4);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 1s;
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content p,
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content h3,
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content h4 {
  color: #FDFDFD;
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content .content__title {
  max-width: 65%;
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content .card__cost {
  margin-top: 5px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.3);
}
.popular-directions-container .popular-direction__cards .popular-direction__card .card__content .card__description {
  margin-top: 38px;
  margin-bottom: 105px;
}
.popular-directions-container .popular-direction__cards .popular-direction__card:hover .card__star {
  top: -50px;
}
.popular-directions-container .popular-direction__cards .popular-direction__card:hover .card__content {
  padding-top: 30px;
  top: 0;
}

.blog {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #f3f5f4;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
.blog-container .subtitle {
  margin-bottom: -42px;
}
.blog-container h2 {
  margin-bottom: -10px;
}
.blog-container .blog__cards {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.blog-container .blog__cards .blog__card {
  cursor: pointer;
  width: 580px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
  border-radius: 10px;
  background: #FDFDFD;
}
.blog-container .blog__cards .blog__card img {
  width: 230px;
}
.blog-container .blog__cards .blog__card .card__content {
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: space-between;
  flex-wrap: wrap;
}
.blog-container .blog__cards .blog__card .card__content .card__date, .blog-container .blog__cards .blog__card .card__content .card__more {
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.blog-container .blog__cards .blog__card .card__content .card__date {
  color: #f2be22;
}
.blog-container .blog__cards .blog__card .card__content .card__more {
  color: #1a3e3e;
}
.blog-container .blog__cards .blog__card:hover h3, .blog-container .blog__cards .blog__card:hover .card__more {
  text-decoration: underline;
}

.photos {
  padding-top: 80px;
  padding-bottom: 100px;
}

.photos-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
.photos-container .subtitle {
  margin-bottom: -42px;
}
.photos-container h2 {
  margin-bottom: -10px;
}
.photos-container .photos__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.photos-container .photos__list .photos__item {
  cursor: pointer;
  position: relative;
  height: 250px;
}
.photos-container .photos__list .photos__item .item__zoom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(26, 62, 62, 0.3);
  transition: 0.5s;
}
.photos-container .photos__list .photos__item:hover .item__zoom {
  opacity: 1;
}
.photos-container .photos__list .photos__item img {
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photos-container .photos__list .photos__item:nth-child(1) img, .photos-container .photos__list .photos__item:nth-child(5) img {
  width: 580px;
}/*# sourceMappingURL=main.css.map */